# Visual Studio
.vs/

# Build output
bin/
obj/

# User specific
*.user
*.suo
*.cache
*.log

# ASP.NET binaries
*.dll
*.exe
*.pdb

# React / Node
node_modules/
build/
dist/

# OS files
Thumbs.db
.DS_Store
