@{
    ViewData["Title"] = "Home Page";
}

<nav>
    <span>Online Quiz – CDAC DAC</span>
    <a href="#">👤</a>
</nav>

<div class="modules">
    <a href="/Quiz/Module/1">CPP</a> &nbsp;&nbsp;
    <a href="/Quiz/Module/2">Core Java</a>  &nbsp;&nbsp;
    <a href="/Quiz/Module/3">Java DSA</a> &nbsp;&nbsp;
    <a href="/Quiz/Module/4">Web Programming</a> &nbsp;&nbsp;
    <a href="/Quiz/Module/5">Database Technologies</a> &nbsp;&nbsp;
    <a href="/Quiz/Module/6">Aptitude</a> &nbsp;&nbsp;
    <a href="/Quiz/Module/7">Advanced Java</a> &nbsp;&nbsp;
    <a href="/Quiz/Module/8">.NET</a> &nbsp;&nbsp;
    <a href="/Quiz/Module/9">OS & SDM</a> &nbsp;&nbsp;

</div>

